<!--suppress HtmlFormInputWithoutLabel -->
<form autocomplete="off" onsubmit="event.preventDefault()">
	<div class="notes">{{localize "mobile-sheet.settings.mobile-share-targets.hint"}}
		<ul>
			<li class="notes"><b>{{localize
				"mobile-sheet.settings.mobile-share-targets.send.name"}}</b>: {{localize
				"mobile-sheet.settings.mobile-share-targets.send.hint"}}</li>
			<li class="notes"><b>{{localize
				"mobile-sheet.settings.mobile-share-targets.receive.name"}}</b>: {{localize
				"mobile-sheet.settings.mobile-share-targets.receive.hint"}}</li>
			<li class="notes"><b>{{localize
				"mobile-sheet.settings.mobile-share-targets.force.name"}}</b>: {{localize
				"mobile-sheet.settings.mobile-share-targets.force.hint"}}</li>
		</ul>
	</div>
	<hr>

	<h3><b>{{localize "mobile-sheet.settings.mobile-share-targets.title"}}</b></h3>

	<table>
		<thead>
		<tr>
			<th>{{localize "mobile-sheet.settings.mobile-share-targets.player.name"}}</th>
			<th>{{localize "mobile-sheet.settings.mobile-share-targets.send.name"}}</th>
			<th>{{localize "mobile-sheet.settings.mobile-share-targets.receive.name"}}</th>
			<th>{{localize "mobile-sheet.settings.mobile-share-targets.force.name"}}</th>
		</tr>
		</thead>

		<tbody>
		{{#each data}}
			<tr>
				<td>{{this.name}}</td>
				<td style="text-align: center;"><input type="checkbox" name="send-{{this.id}}" data-dtype="Boolean"
					{{checked this.send}}></td>
				<td style="text-align: center;"><input type="checkbox" name="receive-{{this.id}}"
													   data-dtype="Boolean"{{checked this.receive}}></td>
				<td style="text-align: center;"><input type="checkbox" name="force-{{this.id}}"
													   data-dtype="Boolean"{{checked this.force}}></td>
			</tr>
			<input type="text" name="id" value={{this.id}} style="display:none">
		{{/each}}
	</table>

	<br>

	<button type="submit" name="submit">
		<i class="fas fa-save"></i> Save
	</button>

</form>
