<ul class="mobile-navigation" style="display: none">
	<li class="navigation-map">
		<i class="fas fa-map"></i>
		{{localize 'pf2e-mobile-sheet.NavigationScene'}}
	</li>
	<li class="navigation-sidebar">
		<i class="fas fa-home"></i>
		{{localize 'pf2e-mobile-sheet.NavigationApp'}}
	</li>
	<li class="navigation-macros toggle">
		<i class="fas fa-grip-horizontal"></i>
		{{localize 'pf2e-mobile-sheet.NavigationActions'}}
	</li>
	<li class="navigation-menu toggle">
		<i class="fas fa-ellipsis-h"></i>
		{{localize 'pf2e-mobile-sheet.NavigationMore'}}
	</li>
	<li class="navigation-windows toggle disabled">
    <span>
      <i class="fas fa-window-restore"></i>
      <span class="count">0</span>
    </span>
		{{localize 'pf2e-mobile-sheet.NavigationWindows'}}
	</li>
</ul>
