{{#*inline "navigationElement"}}
	<li class="navigation-{{name}}{{ifThen drawer " toggle" ""}} {{ifThen counter (disabled (eq count 0)) ""}}"
		onclick="game.mobilemode.navigation.selectItem('{{name}}')">
		{{#if counter}}
			<span>
				<i class="fas {{icon}}"></i>
				<span class="count">{{count}}</span>
			</span>
			{{localize (concat "mobile-sheet.Navigation" (capitalize name))}}
		{{else}}
			<i class="fas {{icon}}"></i>
			{{localize (concat "mobile-sheet.Navigation" (capitalize name))}}
		{{/if}}
	</li>
{{/inline}}

<ul class="mobile-navigation" style="display: none">
	{{#each this}}
		{{> navigationElement this }}
	{{/each}}
</ul>
